body {
    font-family: 'Times New Roman';
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #345995, #833c8f);
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #ff5945;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
    font-weight: bold;
}

#error {
    color: #ff0000;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #3a4452;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-weight: bold;
    color: #28a745;
    margin-top: 15px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .container {
        width: 78%;
    }
}